#Container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}


h1{
    margin-left: 420px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.centerMonth{
    width: 100px;
    padding: 5px;
    font-weight: bold;
    margin-left: 445px;
}

.calendarDay{
    background-color: #5e5e5e;
    height: 80px;
    width: auto;
}

.emptyDay{
    background-color:#5e5e5e;
    opacity: 0.9;
}

.calendarDay, .emptyDay{
    width:120px;
    height: 100px;
    padding:5px;
    border-bottom:1px solid #999;
    border-right:1px solid #999;
}

.day{
    background-color: darkorange;
    font-weight:bold;
    text-align:center;
    width:120px;
    padding:5px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

.dayNumber{
    background: inherit;
    padding:5px;
    color:#f5f5f5;
    font-weight:bold;
    font-size: 14px;
    float:left;
    width:130px;
    height: 110px;
    text-align:left;
    overflow-y: auto;
}


.center{
    text-align: center;
}

.modal{
    -webkit-box-shadow: 17px 7px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    17px 7px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         17px 10px 5px 0 rgba(50, 50, 50, 0.75);
    background-color:#ffffff ;
    width: 550px;
    z-index: 10;
    position: fixed;
    top:170px;
    left: 38%;
}

.modalBody, .modalHeader{
    margin: 5px;
}

.hidden{
    display: none;
}

.box{
    width: 110px;
    height: 65px;
    background-color: orange;
    float: left;
    margin: 7px;
    z-index: 1;
}


.eventBox {
    background-color: #f5f5f5;
}
.addEvent{
    background-color:#44c767;
    color:#ffffff;
    width: 150px;
    padding: 5px;
    text-decoration:none;
}
.event {
    text-shadow:1px 2px 3px #2b542c;
    text-align: center;
    font-weight: bold;
    background-color:#449d44;
    color:#ffffff;
    width: auto;
    font-size:15px;
    text-decoration:none;

}
.event:hover {
    background-color:#ffffff;
    color:#449d44;
}

