#Container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

#menu{
    margin: auto 0;
    width: 1070px;
    height: 30px;
    background-color:#44c767;;
}

#menu a{
    margin: 5px;
    color:#ffffff;
    width: 150px;
    text-align: center;
    text-decoration:none;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-shadow:1px 3px 1px #2b542c;

}

#menu a:hover{
    background-color:#44a767;
    text-shadow:1px 2px 3px #2b542c;
}

#monthNav a{
    text-decoration: none;
}

#navigation{
    margin: auto 0;
    width: 1070px;
    height: 30px;
}

#navigation a{
    margin-top: 7px;
    margin-left: 145px;
    color: #000000;
    font-weight:bold;
    width: 150px;
    text-align: center;
    text-decoration:none;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

#navigation a:hover{
    color:#f5f5f5;
}

#monthNav{
    margin-top:7px;
    margin-bottom: 7px;
}

h1{
    margin-left: 420px;
}

textarea{
    max-height: 100px;
    max-width: 400px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 18px;
    padding:3px;
    width: 250px;
}

.eventList{
    margin-top: 5px;
}

#eventList{
    clear: left;
    display: table;
    margin-left: 20px;
}

#eventList a{

}

#eventList li{
    display:table-row;
    font-weight: bold;
}

#eventList label{
    font-weight: bold;
}

#eventList a, #eventList label{
    display:table-cell;
    padding: 3px;
    border: 4px solid #ffffff;
    text-decoration: none;
}

.delete{
    background-color: red;
    text-decoration: none;
    color: #ffffff;
}

.delete:hover{
    background-color:darkred;
}

.right{
    float: right;
    margin-right: 9px;
}

.eventModal .right{
    float: right;
    margin-right: 0;
}

.left{
    float: left;
}

.center{
    margin-left: 307px;
}

.eventModal .center{
    margin-left: 40px;
}

.quickAdd{
    background-color:#449d44;
    color:#000000;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    text-shadow:1px 2px 3px #2b542c;
}

.quickAdd:hover{
    background-color:#ffffff;
    color:#449d44;
}

.centerMonth{
    background-color: #44c767;
    font-weight: bold;
    color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin-left: 50px;
    text-shadow:1px 3px 1px #2b542c;
}

.modal .centerMonth{
    font-weight: 100;
    margin-left: 75px;
}

.calendarDay{
    background-color: #5e5e5e;
    height: 80px;
    width: auto;
}

.emptyDay{
    background-color:#5e5e5e;
    opacity: 0.9;
}

.currentDay{
    background-color: #5e5e5e;
    height: 80px;
    width: auto;
    box-shadow: inset 0 0 0 10px goldenrod;
}

.calendarDay, .emptyDay, .currentDay{
    width:120px;
    height: 100px;
    padding:5px;
    border-bottom:1px solid #999;
    border-right:1px solid #999;
}

.day{
    background-color: darkorange;
    font-weight:bold;
    text-align:center;
    width:120px;
    padding:5px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

.orange{
    background-color:#44c767;
    color:#ffffff;
    width: 160px;
    text-align: center;
    text-decoration:none;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-shadow:1px 2px 3px #2b542c;
}

.dayNumber{
    background: inherit;
    padding:5px;
    color:#f5f5f5;
    font-weight:bold;
    font-size: 14px;
    float:left;
    width:130px;
    height: 110px;
    text-align:left;
    overflow-y: auto;
}


.center{
    text-align: center;
}

.eventModal{
    -webkit-box-shadow: 17px 7px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    17px 7px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         17px 10px 5px 0 rgba(50, 50, 50, 0.75);
    background-color:#ffffff ;
    width: 550px;
    position: absolute;
    z-index: 10;
    top:210px;
    left: 33%;
    max-height: 600px;
    overflow: hidden;
}

.eventModal label, .eventModal p, textarea, .eventModal .inputSubmit, .eventModal h3{
    margin-left: 42px;
}

.eventModal .modalBody, .eventModal .modalHeader{
    margin: 5px;
}

.hidden{
    display: none;
}

.box{
    width: 110px;
    height: 65px;
    background-color: orange;
    float: left;
    margin: 7px;
    z-index: 1;
}


.eventBox {
    background-color: #f5f5f5;
}
.addEvent{
    background-color:#44c767;
    color:#ffffff;
    width: 150px;
    text-align: center;
    text-decoration:none;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-shadow:1px 2px 3px #2b542c;
}

.addEvent:hover, .orange:hover{
    background-color:#44a767;
    text-shadow:1px 2px 3px #2b542c;
}

.event {
    text-shadow:1px 2px 3px #2b542c;
    text-align: center;
    font-weight: bold;
    background-color:#449d44;
    color:#ffffff;
    width: auto;
    font-size:15px;
    text-decoration:none;

}
.event:hover{
    background-color:#ffffff;
    color:#449d44;
}

.description{
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


